apiVersion: v1
kind: Service
metadata:
  name: adk-agent
  namespace: {{ .Release.Namespace }}
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: adk-agent
